body {
  margin: 0;
  font-family: 'Montserrat','sans-serif'
}

.root-div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(213, 183, 227);
    height: 100vh;
}

.todo{
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.btn{
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 4px;
    color: white;
    background-color: #5e06ac;
    font-family: 'Montserrat', sans-serif;
}

.input{
  width: 200px;
  height: 36px;
  border: none;
  border-radius: 4px;
  padding-left: 8px;
  font-size: 16px;
}

.container{
  background-color: #e6e6e6;
  width: 300px;
  height: 300px;
  margin: 100px;
  padding: 24px;
}